name: Model Training

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Runs at midnight UTC every day. Adjust the cron schedule as needed.

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.12.1'
      - name: Install dependencies
        run: |
          grep -vE "pywin32" requirements.txt > requirements_no_win32.txt
          pip install -r requirements_no_win32.txt
      - name: Train Model and Save
        run: python model/model.py -u "${{ secrets.MONGODB_CONN_STR }}"
    
      - name: Upload Model to Azure Blob Storage
        run: python model/save.py -c "${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}"
